:root {
  --font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // Colors
  --c-black: #000;
  --c-white: #fff;
  --c-blue-900: #1c4d73;
  --c-orange: #fc5252;
  --c-grey: #F7F8FA;
  --c-grey-50: #e6e6e8;
  --c-grey-80: #f8f9fb;
  --c-green: #409E77;
}
